* {
    margin: 0;
    padding: 0;
}

/* COLORS */
.bg-color {
    background-color: #090b1a;
}

.main-color {
    background-color: #1b1938;
    color: #ffffff;
}

.accent-color {
    color: #aa5cdb;
}

.neutral-color {
    color: #ffffffbf;
}

/* TYPEFACES */
.title-type {
    font-family: "Inter", sans-serif;
}

.content-type {
    font-family: "Inter", sans-serif;
}

.special-type {
    font-family: "Lexend Deca", sans-serif;
}