.color-main {
    color: #212529;
}

.color-accent {
    color: #ffd166;
}

.color-neutral {
    color: #6c757d;
}

.color-bg-main {
    background-color: #212529;
}

.color-bg-main-light {
    background-color: #272c31;
}

.color-bg-main-dark {
    background-color: #16181b;
}

.color-bg-accent {
    background-color: #ffd166;
}

.color-bg-neutral {
    background-color: #6c757d;
}

