body {
    background-image: url(../images/background-pattern.svg);
}

h1 {
    margin: 30px auto;
    text-align: center;
}

h2 {
    margin: -20px;
    padding: 16px 0px;
}

.fade-overlay {
    background: linear-gradient(to bottom, rgba(22, 24, 27, 0), rgba(22, 24, 27, 1));
}

.game-cards {
    display: flex;
    text-align: center;
    justify-content: center;
}

.card {
    margin: 20px 10px;
    padding: 20px;
    height: 280px;
    width: 360px;
    box-sizing: border-box;
    border-radius: 0px 0px 30px 30px;
}

.game-options {
    display: flex;
    justify-content: center;
}

.button-option {
    margin: 5px;
    height: 60px;
    width: 100px;
}