body {
    background-image: url(../images/background-pattern.svg);
}

h2 {
    margin: -20px;
    padding: 16px 0px;
    border-radius: 10px 10px 0px 0px;
}

p {
    text-align: center;
}

p.prize {
    margin-top: 30px;
    font-size: 22px;
}

p.credits {
    margin-bottom: 20px;
    font-size: 12px;
}

.logo {
    display: block;
    height: 120px;
    margin: 30px auto;
}

.game-cards {
    display: flex;
    text-align: center;
    justify-content: center;
}

.card {
    height: 280px;
    width: 360px;
    margin: 20px 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.preview-img {
    height: 140px;
    margin-top: 40px;
}

.game-options {
    display: flex;
    justify-content: center;
}

.button-option {
    margin: 5px;
    height: 60px;
    width: 100px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}

.button-option:hover {
    color: #212529;
    background-color: #ffd166;
    cursor: pointer;
}