/* LIGHT MODE COLORS */
.color-accent {
    color: #E63946;
}

.color-neutral {
    color: #E0E3E4;
}

.bg-color-accent {
    color: #E63946;
}

.bg-color-neutral {
    color: #E0E3E4;
}

/* DARK MODE COLORS */