* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.width-limit {
    max-width: 1440px;
    padding: 0px 30px;
    margin: auto;
}

.width-limit-second {
    max-width: 1196px;
    padding: 0px 30px;
    margin: auto;
}

h1, h2, h3, p {
    cursor: default;
}

h2 {
    padding: 60px 0;
    font-size: 72px;
    line-height: 60px;
}

h3 {
    padding: 10px 0;
    font-size: 30px;
    line-height: 30px;
}

p {
    font-family: "Inter";
    font-size: 18px;
    color: #555555;
    text-align: justify;
}

.redline {
    margin-top: 20px;
    border: 6px solid #E63946;
    width: 80px;
    border-radius: 6px;
}

.dashedline {
    margin: 30px auto;
    border: none;
    border-top: 2px dashed #E0E3E4;
}

.chip {
    padding: 16px;
    font-size: 22px;
    background-color: #E0E3E4;
    border-radius: 28px;
    line-height: 72px;
}

.chip:hover {
    background-color: #d8d8d8;
}

::selection {
    color: #ffffff;
    background: #E63946;
}