

@media only screen and (max-width: 768px) {

    /* HAMBURGER MENU */
    .navbar > .burger-menu {
        margin-right: 20px;
        display: block;
        cursor: pointer;
        z-index: 3;
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu {
        position: fixed;
        display: flex;
        top: 0;
        left: -120%;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        text-align: center;
        background-color: #E0E3E4;
        z-index: 2;
    }

    .nav-item {
        margin: 30px 0;
    }

    .menu.active {
        left: 0;
    }

    li>.darkmode {
        margin-left: 0;
    }

    /* HOMEPAGE */
    body>.navbar {
        padding: 20px 0px;
    }

    body>.header {
        background-position: top;
        align-items: flex-end;
        height: 400px;
    }

    .header>* {
        display: none;
    }

    body>.welcome-mobile {
        display: block;
        margin: 40px 20px;
        text-align: center;
    }

    .welcome-mobile>.floating-icon-ai {
        position: absolute;
        left: -4%;
        top: 50%;
        width: 40%;
    }

    .welcome-mobile>.floating-icon-ps {
        position: absolute;
        left: 60%;
        top: 8%;
        width: 40%;
        z-index: -1;
    }

    .welcome-mobile>.floating-icon-html {
        position: absolute;
        left: 65%;
        top: 48%;
        width: 35%;
    }

    .welcome-mobile>.floating-icon-figma {
        position: absolute;
        left: 2%;
        top: 10%;
        width: 40%;
    }

    .welcome-mobile>.floating-icon-js {
        position: absolute;
        left: 15%;
        top: 30%;
        width: 35%;
        z-index: -1;
    }

    .welcome-mobile>.floating-icon-css {
        position: absolute;
        left: 58%;
        top: 36%;
        width: 35%;
        z-index: -1;
    }

    .welcome-mobile h1 {
        font-size: 46px;
        line-height: 46px;
    }

    .cards {
        flex-direction: column;
    }

    .resume-info {
        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 48px;
        line-height: 48px;
        padding: 30px 0px;
    }

    h3 {
        font-size: 24px;
    }

    .cards>.card {
        margin: 0px 0px 80px 0px;
    }

    .card>.card-illu {
        margin-bottom: 0px;
    }

    .about h2 {
        padding-top: 60px;
    }

    .skills h2 {
        padding-top: 60px;
    }

    .chip {
        padding: 12px;
        font-size: 18px;
        border-radius: 24px;
    }

    .social-media img {
        margin-top: 50px;
        margin-right: 20px;
        text-align: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* PORTFOLIO */

    body>.gallery {
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8"
            "item9";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        margin-top: 50px;
    }

    .gallery>.pi-responsive {
        height: 375px;
    }

    .overlay {
        position: relative;
        height: inherit;
        transition: opacity 0.1s ease-in-out;
        opacity: 0;
    }

    .overlay-effect:hover .overlay {
        opacity: 1;
    }

    /* CONTACT */

    .fullname {
        flex-direction: column;
    }

    .fullname>.fname {
        padding-right: 0px;
    }

    .fullname>.lname {
        padding-left: 0px;
    }
}