.burger-menu {
    background: url(../images/icons/icon-burger-menu.svg);
    height: 50px;
    width: 50px;
    display: none;
}

@media only screen and (max-width: 768px) {
    /* HOMEPAGE */
    body > .navbar {
        padding: 20px 0px;
    }

    .navbar img {
        padding-left: 20px;
    }

    .menu {
        display: none;
    }

    .burger-menu {
        display: inline-block;
        margin-right: 20px;
    }

    body > .header {
        background-position: top;
        align-items: flex-end;
        height: 400px;
    }

    .header > * {
        display: none;
    }

    body > .welcome-mobile {
        display: block;
        margin: 40px 20px;
        text-align: center;
    }

    .welcome-mobile > .floating-icon-ai {
        position: absolute;
        left: -4%;
        top: 50%;
        width: 40%;
    }

    .welcome-mobile > .floating-icon-ps {
        position: absolute;
        left: 60%;
        top: 8%;
        width: 40%;
        z-index: -1;
    }

    .welcome-mobile > .floating-icon-html {
        position: absolute;
        left: 65%;
        top: 48%;
        width: 35%;
    }

    .welcome-mobile > .floating-icon-figma {
        position: absolute;
        left: 2%;
        top: 10%;
        width: 40%;
    }

    .welcome-mobile > .floating-icon-js {
        position: absolute;
        left: 15%;
        top: 30%;
        width: 35%;
        z-index: -1;
    }

    .welcome-mobile > .floating-icon-css {
        position: absolute;
        left: 58%;
        top: 36%;
        width: 35%;
        z-index: -1;
    }

    .welcome-mobile h1 {
        font-size: 46px;
        line-height: 46px;
    }

    .cards {
        flex-direction: column;
    }

    .resume-info {
        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 48px;
        line-height: 48px;
        padding: 30px 0px;
    }

    h3 {
        font-size: 24px;
    }

    .cards>.card {
        margin: 0px 0px 80px 0px;
    }

    .card>.card-illu {
        margin-bottom: 0px;
    }

    hr {
        margin-top: 10px;
        border: 5px solid #E63946;
        width: 60px;
        border-radius: 5px;
    }

    .about h2 {
        padding-top: 60px;
    }

    .skills h2 {
        padding-top: 60px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-media img {
        margin-top: 50px;
        margin-right: 20px;
        text-align: center;
    }

    /* PORTFOLIO */

    body > .gallery {
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8"
            "item9";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        margin-top: 50px;
    }

    .gallery > .pi-responsive {
        height: 375px;
    }

    .overlay {
        position: relative;
        height: inherit;
        transition: opacity 0.1s ease-in-out;
        opacity: 0;
    }
    
    .overlay-effect:hover .overlay {
        opacity: 1;
    }

    /* CONTACT */

    .fullname {
        flex-direction: column;
    }

    .fullname > .fname {
        padding-right: 0px;
    }

    .fullname > .lname {
        padding-left: 0px;
    }
}