@font-face {
    font-family: "Inter";
    src: url(../typeface/Inter-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../typeface/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat Bold";
    src: url(../typeface/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(../typeface/PlusJakartaSans-Regular.otf);
}

@font-face {
    font-family: "Plus Jakarta Sans Bold";
    src: url(../typeface/PlusJakartaSans-ExtraBold.otf);
}

.font-primary {
    font-family: "Montserrat";
}

.font-primary-bold {
    font-family: "Montserrat Bold";
}

.font-secondary {
    font-family: "Inter";
}

.font-special {
    font-family: "Plus Jakarta Sans";
}

.font-special-bold {
    font-family: "Plus Jakarta Sans Bold";
}